<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <!-- <li>{{availableFile}}</li> -->
  <div class=" container-fluid" style="height: 200px;">


    <form id="accesspanel" action="">
      <h1 id="litheader"><div class=" photo">
        <img alt="Profile Photo" src="assets/img/admin.jpg" />
      </div>  Admin  </h1>
      <div class="inset" style="margin-top: -10px;">
        <!-- <p>
          <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
        </p> -->
        <p>
          <button type="button" style="color:rgb(250, 87, 95); background-color:rgb(15, 15, 15) ;">Login Time {{time}} </button>
        </p>
       
        <p >
          <a class=" nav-item" href="javascript:void(0)" style="color:rgb(250, 87, 95);  width: 50px;" ngbDropdownItem
                routerLink="/password">
                Settings
              </a>
        </p>
        
        <p style="margin-top: 10px;">
          <a class=" nav-item" href="javascript:void(0)" style="color: rgb(245, 102, 102) ; width: 50px;" ngbDropdownItem
          routerLink="/login">
          Log out
        </a>
        </p>
      </div>
      <!-- <p class="p-container"> -->
        <!-- <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()"> -->
       
        
      <!-- </p> -->
    </form>
    <!-- <div class="">
      <ul class=" navbar-nav ml-auto" style="padding-right: 100%; width: 220px; padding-top: 5px; ">
        <li class=" nav-item" ngbDropdown>

          <ul>
            <li class=" nav-link">
              <div class=" photo">
                <img alt="Profile Photo" src="assets/img/admin.jpg" />

              </div>
            </li>
            <li class=" nav-link" >
              <button type="button" style="color: #141313; background-color:white ;">Login Time {{time}} </button>

            </li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" style="color:white  ; width: 50px;" ngbDropdownItem
                routerLink="/password">
                Settings
              </a>
            </li>
            <li class=" dropdown-divider"></li>
            <li class=" nav-link">

              <a class=" nav-item" href="javascript:void(0)" style="color: white ; width: 50px;" ngbDropdownItem
                routerLink="/login">
                Log out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->


    <!-- <ul>
      <li *ngFor ="let c of count">
        {{c.name}}</li>
        {{myDate | date:'medium'}}
      
    </ul> -->
    <!-- <ul>
      <li *ngFor ="let k of time">
       {{k.lastlogintime |date:'medium'}} </li>
       
      
    </ul> -->
    <!-- {{myDate | date:'medium'}} -->
    <ul style="margin-bottom: auto;">




    </ul>
    
    <div style="margin-left: 40%; margin-top: 5%;">
      <h1 class="header">
        <B> Dicom Viewer</B>
      </h1>
    </div>
    
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation" style="padding-bottom: 70px; margin-left: 20%;">
     

      
    <form id="accesspanel" action="" style="margin-left: 75%; width: 300px; height:200px; margin-top: 15px; " > 
     
      <div class="inset" style="margin-top: -10px; ">
        <!-- <p>
          <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
        </p> -->
        <p>
          <button type="button" style="color:rgb(250, 87, 95); background-color:rgb(15, 15, 15) ;">Files {{time}} </button>
        </p>
       
        <p >
          <!-- <div class="file"> -->

                <input class="button1" type="file" (change)="onselectedfile($event)" style="color:rgb(250, 87, 95);"><br><br>
                <button mat-raised-button color="primary" class="button" (click)="displayfile()" style="background-color:rgb(250, 87, 95);">Submit</button>

              <!-- </div>  --> 
        </p>
        
        <p style="margin-top: 10px;">
          <input class="form-control" placeholder="Search" id="mySearch" type="text" value=""
          (focus)="focus = true" (blur)="focus = false" >
        <button type="button" (click)="displaysearch()" style="background-color:rgb(250, 87, 95);">submit</button>
          
        </p>
      </div>
      <!-- <p class="p-container"> -->
        <!-- <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()"> -->
       
        
      <!-- </p> -->
    </form>
























      <!-- <ul class=" navbar-nav ml-auto"> -->
        <!-- <li class=" nav-item"> -->

          <!-- <ul> -->

            <!-- <li class=" nav-link">
              <button type="button" style="color: #080808;"> {{myDate | date:'medium'}} </button>

            </li> -->
           
            
          
            <!-- <li class=" dropdown-divider"></li> -->
            <!-- <li class=" nav-link"> -->
              <!-- <div class="file">

                <input class="button1" type="file" (change)="onselectedfile($event)"><br><br>
                <button mat-raised-button color="primary" class="button" (click)="displayfile()">Submit</button>

              </div> -->

              <!-- <a class=" nav-item" href="javascript:void(0)" style="color: #141313 ; width: 50px;" ngbDropdownItem
                routerLink="/login">
                Log out
              </a> -->
            <!-- </li> -->
            <!-- <li> -->
              <!-- <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }"> -->
                <!-- <div class="input-group input-group-alternative" style="    padding-top: 5px; width: 150px;" > -->

                 

                <!-- </div> -->

             <!-- </div> -->
              <!-- </li> -->
              <!-- <li>
                <button type="button" style="color: #141313; background-color:white ;"> {{count.count}} </button>
              </li> -->
          <!-- </ul>
        </li>
      </ul> -->
   
      <!-- <ul class=" navbar-nav ml-auto">
        <li>

          <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">

              <input class="form-control" placeholder="Search" id="mySearch" type="text" value="" (focus)="focus = true"
                (blur)="focus = false">
              <button type="button" (click)="displaysearch()"><i class="fa fa-search"></i></button>

            </div>

          </div>

        </li>


        <li class=" nav-item" ngbDropdown>
          <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
            <div class=" notification d-none d-lg-block d-xl-block"></div>
            <i class=" tim-icons icon-sound-wave"> </i>

          </a>
          <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link"> -->
              <!-- <button type="button" onclick="">Available files</button> -->
              <!-- <button type="button" style="background-color: rgb(235, 100, 127); ">files: {{countVal.count}}</button> -->
              <!-- <a *ngFor="let availableFile of availableFiles" class=" nav-item" href="javascript:void(0)"  ngbDropdownItem>
                <li>{{availableFile}}</li>
              </a> -->
              <!-- <input type='button' value='Generate' onclick='f1(this)' />Available files</input> -->
            <!-- </li>
            <li class="nav-link">




              <div class="file">

                <input class="button1" type="file" (change)="onselectedfile($event)"><br><br>

                <button mat-raised-button color="primary" class="button" (click)="displayfile()">Submit</button>

              </div>

            </li>


          </ul>
        </li>

        <li class=" separator d-lg-none"></li>
      </ul> -->
    </div>
  </div>
</nav>

<!-- <ng-template #content let-modal>
  <div class=" modal-header">
    <input class=" form-control" id="inlineFormInputGroup" placeholder="SEARCH" type="text" />

    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template> -->