<div class="background-wrap">
  <div class="background"></div>
</div>


<form #loginform="ngForm">
  <h1 id="litheader">Setting</h1>
  <div class="inset">
    <p>
      <input type="text" name="oldPassword" [(ngModel)]="pass.oldPass"  placeholder="oldPassword">
    </p>
    <p>
      <input type="password" name="newPassword" [(ngModel)]="pass.newPass"  placeholder="newPassword">
    </p>
    
  </div>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="Login" (click)="changeNow()">
    
  </p>
</form>